body {
    background-color: mediumpurple
}

div {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: orange;
    font-family: 'Times New Roman';
}

h2, h3 {
    font-size: 40px;
    color: orange;
    font-family: 'Times New Roman';
}

h4 {
    font-size: 25px;
    color: orange;
    font-family: 'Times New Roman';
}

h5 {
    color: orange;
    font-family: 'Times New Roman';
    font-size: 50px;
}

img {
    border-radius: 15%;
}

a {
    color: orange;
    font-family: 'Times New Roman';
    font-size: 35px;
}

p {
    color: orange;
    font-family: 'Times New Roman';
    font-size: 25px;
}

ul {
    color: orange;
    font-family: 'Times New Roman';
    font-size: 25px;
    width: 50px;
    margin: auto;
}

#Shawn, #Flavia {
    width: 400px;
    height: 400px;
    margin: auto;
}
